@import 'helpers';
@import 'fonts';
@import 'libs';
@import 'base';
@import 'vars';
@import 'animation';

.color-blue {
  color: $accentColor;
}

.white-bg-selection *::selection {
  background: #fff;
  color: #000;
}

.subheading {
  color: inherit;
  font-size: 2.1em;
  font-weight: normal;
}

.section {
  padding: 4.1% 18%;

  &--blue {
    background-color: $accentColor;
    color: #fff;
  }
}

.section__heading {
  display: flex;
  margin: 0;
  margin-bottom: 25px;
  font-size: 3.6em;
  font-weight: normal;
  color: #000;
  align-items: center;

  &::before,
  &::after {
    display: inline-block;
    content: '';
    height: 5px;
    background: #000;
  }

  &::before {
    width: 10%;
    margin-right: 25px;
  }

  &::after {
    flex-grow: 1;
    margin-left: 25px;
  }
}

.section__heading--white {
  color: #fff;
  &::before,
  &::after {
    background: #fff;
  }
}

/*### Home Section ###*/
.square-borders {
  fill: none;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke: $accentColor;
  stroke-width: 4px;
  animation: dash 3s ease forwards;
}

.section--home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.mob-nav-icon,
.mob-nav__close {
  display: none;
  font-size: 45px;
  color: $accentColor;
  padding: 0;
  line-height: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.mob-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: $accentColor;
  color: #fff;
  z-index: 9999;
  font-size: 1.5em;
}

.mob-menu {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.mob-menu__li {
  margin: 25px 0;
}

.mob-nav__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.hero-text-box {
  position: relative;
  @include fluid-type(height, 48.75rem, 118.75rem, 21.8rem, 32rem);
  @include fluid-type(width, 48.75rem, 118.75rem, 21.8rem, 31rem);
}

.hero-text-box__text {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate3d(0, -50%, 0);
  animation: heroTextFadeInRight 2s ease both;
}

.hero-text-box__paragrah {
  margin: 0;
  line-height: 1.3;
  @include fluid-type(font-size, 48.75rem, 118.75rem, 2.8rem, 3.6rem);
  white-space: nowrap;
  width: max-content;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -o-max-content;
  width: -ms-max-content;
}

.hero-text-box__paragrah:first-child {
  @include fluid-type(font-size, 48.75rem, 118.75rem, 3.9rem, 4.9rem);
}

.hero-text-box__paragrah:nth-child(3) {
  @include fluid-type(font-size, 48.75rem, 118.75rem, 2.25rem, 3rem);
  color: $lightGray;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.nav__li {
  font-size: 1em;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &--active {
    color: $accentColor;

    &::after {
      content: ' ';
      display: inline-block;
      width: 25px;
      height: 2px;
      margin-left: 7px;
      vertical-align: middle;
      background: $accentColor;
    }
  }
}
/*XXX End of Home Section XXX*/

/*### About Section ###*/
.section--about {
  background-color: $accentColor;
  color: #fff;
}

.about-info {
  display: flex;
  font-size: 1.3em;
  font-weight: 300;
  justify-content: space-between;
}

.about-info__text {
  width: 57%;
  margin-right: 30px;
}

.meta-info {
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  width: 45%;
}

.meta-info__group {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.meta-info__key {
  font-weight: 600;
  margin-right: 15px;
}

.my-skills {
  width: 75%;
  font-size: 0.9em;
  margin-bottom: 45px;
}

.my-skills__skill {
  display: inline-flex;
  align-items: center;
  width: 150px;
  margin-bottom: 20px;
}

.my-skills__img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
/*XXX End of About Section XXX*/

/*### Works Section ###*/
.work {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.work--reverse {
  flex-direction: row-reverse;

  & .work__info {
    padding-left: 0;
    padding-right: 30px;
  }
}

.work__info {
  padding-left: 30px;
}

.work__h3 {
  margin-bottom: 0.5em;
}

.work__title {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.work__desk {
  margin-top: 0;
}

.work__stack-list {
  padding-left: 22px;
  margin: 0;
}

.work__link {
  margin-right: 15px;
}

/*XXX End of Works Section XXX*/

.email-btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-right: 1em;
  margin-bottom: 27px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  & ion-icon[name='mail'] {
    padding: 1em;
  }
}

.social-btns {
  display: flex;
  margin-bottom: 40px;
}

.social-btns__btn {
  font-size: 30px;
  padding: 0.3em 0.5em;
  line-height: 1;

  &:not(:last-of-type) {
    margin-right: 27px;
  }
}

@import 'queries';
